{% extends "base.html" %}
{% if post.author.profile %}
    {% row %}
        {% col %}
            <h4>About the author</h4>
            <p>{{ post.author.profile.bio }}</p>
        {% endcol %}
    {% endrow %}
{% endif %}
{% include "blog/post-comments.html" %}
{% load blog_extras cache %}
{% block content %}
<h2>{{ post.title }}</h2>
{% row %}
  {% col %}
    <div class="row">
        <div class="col">
            {% include "blog/post-byline.html" %}
        </div>
    </div>
  {% endocl %}
{% endrow %}
{% row %}
  {% col %}
    <div class="row">
        <div class="col">
            {{ post.content|safe }}
        </div>
    </div>
  {% endcol %}
{% endrow %}
{% row %}
  {% col %}
    {% cache 3600 recent_posts %}
      {% cache 3600 recent_posts post %}
    {% endcache %}
  {% endcol %}
{% endrow %}
{% endblock %}